@import 'contrast-checker.scss';

@function a11ycolor($foreground, $background, $ratio){
  $currentRatio: uikit-color-contrast( $foreground, $background );
  $pass: '';
  $result: '';
  
  @if  $currentRatio >= $ratio  {
    @return $foreground;
  } @else {
    @while $currentRatio < $ratio {
      $h: hue($foreground); // Gets the hue component of a color.
      $s: saturation($foreground); //Gets the saturation component of a color.
      $l: lightness($foreground); // Gets the lightness component of a color
      $x: $l - 1;
      $foreground: hsl($h, $s, $x);
      @return a11ycolor($foreground, $background, $ratio);
    }
  }
}


// ===============================
// ===============================
// ===============================
$text: silver;
$bg: #FFF;

body {
  background-color: $bg;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1:first-of-type {
  color: $text;
}

h1 {
  color: a11ycolor($text, $bg, 3.1);
}