@import 'contrast-checker.scss';

@function a11ycolor( $toMakeA11y, $background, $ratio ){

	// Get the current ratio
	$currentRatio: uikit-color-contrast( $toMakeA11y, $background );
	
	// If the ratio is not accessible check lighter/darker variations...
	@if $currentRatio < $ratio {

		// Get the HSL values and pass them into the function
		$hue: hue( $toMakeA11y );
		$saturation: saturation( $toMakeA11y );
		$lightness: lightness( $toMakeA11y );
		
		@return a11ySpread( $hue, $saturation, $lightness, $background, $ratio );
	}
	// Else return the accessible colour
	@else {
		@return $toMakeA11y;
	}

}

@function a11ySpread( $hue, $saturation, $lightness, $background, $ratio, $i: 0 ){
	
	$i: $i + 1;

	// Increase the lightness by the iterable
	$lighter: $lightness + $i;
	$lighterNum: $lighter / ( $lighter * 0 + 1 );
	@if $lighterNum < 100 {
		@debug $lighterNum;
		$colorLighter: hsl( $hue, $saturation, $lighter );
		$currentLighter: uikit-color-contrast( $colorLighter, $background );
		@if $currentLighter >= $ratio {
			@return $colorLighter;
		}
	}

	// Increase the darkness by iterable
	$darker: $lightness - $i;
	$darkerNum: $darker / ( $darker * 0 + 1 );
	@if $darkerNum > 0 {
		@debug $darkerNum;
		$colorDarker: hsl( $hue, $saturation, $darker );
		$currentDarker: uikit-color-contrast( $colorDarker, $background );
		@if $currentDarker >= $ratio {
			@return $colorDarker;
		}
	}

	// No accessible colours found... try again..
	@return a11ySpread( $hue, $saturation, $lightness, $background, $ratio, $i );
}


// Normal css
$toMakeA11y: yellow;
$text: $toMakeA11y;
$background: white;

// Run the a11y function
$textA11y: a11ycolor( $text, $background, 4.5 );



// General page styles..
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: $background;
}

.container {
	max-width: 600px;
	margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

h1 {
	text-shadow: 1px 1px 0 #000;
}

.toMakeA11y h1 {
  color: $text;
  &:after {
    content: " " + $toMakeA11y;
  }
}

.a11y h1 {
  color: $textA11y;
  &:after {
    content: " " + $textA11y;
  }
}

.background h1 {
	color: $background;
  &:after {
    content: " " + $background;
  }
}
