@import 'contrast-checker.scss';

@function a11ycolor( $foreground, $background, $ratio, $i: 0 ){

	$currentRatio: uikit-color-contrast( $foreground, $background );

	@if $currentRatio < $ratio {

		$i: $i + .1;
		
		$hue: hue($foreground);
		$saturation: saturation($foreground);
		$lightness: lightness($foreground);

		
		$lighter: $lightness + $i;
		$colorLighter: hsl( $hue, $saturation, $lighter );
		$currentLighter: uikit-color-contrast( $colorLighter, $background );
		@if $currentLighter >= $ratio {
			@return a11ycolor( $colorLighter, $background, $ratio, $i );
		}

		$darker: $lightness - $i;
		$colorDarker: hsl( $hue, $saturation, $darker );
		$currentDarker: uikit-color-contrast( $colorDarker, $background );
		@if $currentDarker >= $ratio {
			@return a11ycolor( $colorDarker, $background, $ratio, $i );
		}

		@return a11ycolor( $foreground, $background, $ratio, $i );
		
	}
	@else {
		@return $foreground;
	}
}


// Normal css
$toMakeA11y: #B38300;
$text: $toMakeA11y;
$bg: #8C8C8C;

// Run the a11y function
$textA11y: a11ycolor( $text, $bg, 4.5 );

body {
  background-color: $bg;
  text-align: center;
  padding-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1:first-of-type {
  color: $text;
  &:after {
    content: " " + $toMakeA11y;
  }
}

h1 {
  color: $textA11y;
  &:after {
    content: " " + $textA11y;
  }
}
